@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Fraser Copland (A01074559)</h1>
    <h1 class="display-4">Welcome</h1>
    <p>Please Login/Register to see application.</p>
</div>
